* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    font-size: 1.1 rem;
    font-family: 'Jomolhari', serif;
    height: 100%;
    
}